#wrapper{font-family:Tahoma;}

.container{
	width:95%; 
	margin:0 auto; 
	}

#subheader{
	width:100%;
	 height:30px;
	 background-color:#d81e1e;
	 color:red;
	 margin-top:-10px; 
	  }

#subheader p{
	float:left;
	color:white;
	margin-top:7px;
	}
	
#subheader a{
	float:right;
	line-height:30px;
	color:white;
	text-decoration:none;
	margin-left:50px;
	}
#subheader a:hover{
	background-color:black;
	padding: 0px 0px 0px 0px; 
	transition: all .7s ease;
	}
/*logo styling*/ 
#main-header{
	width:100%;
	height:100px;
	padding: 8px 0px 6px 0px;
	background:#fc1616;
	float:left;
	margin-top:-10px;
	}
#logo{
	width:250px;
	margin-top:10px;
	float:left;
	}
#ist{

	color:black;
	font-size:50px;
	font-weight:bold;
	margin-left:15px;
	font-family:Ravie;
	}
/*search area styling*/
#search{
	width:700px;
	float:left;
	padding:20px;
	margin-left:50px;
}
.search-area{
	width:650px;
	height:50px;
	background:#fff;
	border:none;
	border-radius:10px;
    float:left;
    padding-left:15px;
    font-size: 25px;
}
.search-btn{
	width:100px;
	height:50px;
	border-radius:10px;
	border:none;
	color:#fff;
	background:brown;
	margin-top:-50px;
	float: right;
}
/*this is for user menu styling*/
#user-menu{
	width:300px;
	float:right;
	margin-top:20px;

}
/*this is for list styling*/
#user-menu li{
	float:left;
	width:140px;
	text-align:center;
	list-style:none;
	font-size:25px;
	border-left:1px solid black;

}
#user-menu li:hover{
	font-size:35px;
	transition:all .5s ease;

}
#user-menu li a{
	color:white;
	text-decoration:none;
}

/*this style for navigation bar*/
#navigation{
	width:100%;
	height:50px;
	padding:8px 0px 6px 0px;
	background:rgba(0,0,0,0.6);
	float:left;
	
}

nav{
	width:1280px;
	margin:0 auto;
}
nav a{
	font-size:20px;
	margin-top: 20px;
	margin-left:70px;
	line-height:50px;
	color:white;
	text-decoration: none;
}
nav a:hover{
	background-color:brown;
	padding:21px 15px 22px 15px;
	transition: all .7s ease;
}
#divider{
	background-color: brown;
	height:6px;
	margin-top:180px;

}

/*=========category heading*/
#heading-block{
	width:100%;
	height:auto;
	float:left;
	color:red;
	font-size:22px;
	
}
#heading-block h2{
	line-height:35px;
	border-left:20px solid red;
	padding-left:10px;
}
/*=================category boxes==========*/
.catbox{
	width:250px;
	height:250px;
	float:left;
	overflow:hidden;
	position:relative;
	margin:0 15 30 0;
}
.catbox span{
	text-decoration: none;
	width:100%;
	height:35px;
	
	line-height:35px;
	background:rgba(0,0,0,0.6);
	color:white;
	display:block;
	bottom:30px;
	position:absolute;
	z-index:999;
	text-align:center;

}
.catbox:hover span{
	color:red;
}
.catbox img{
	max-width:100%;
	transition:all .5s ease;
}
.catbox:hover img{
	transform:scale(1.3,1.3);
	transition:all .5s ease;
}

.last{
	width: 100%;
	height: 100px;
	background-color:black;
	margin-top:350px;
}
.cpt{
	color: white;
	text-align: left;
	font-size: 20px;
	padding: 40px 0px 0px 50px;
}
.wdb{
	font-size: 20px;
	color: white;
	text-align: right;
	margin-top: -45px;
	margin-right: 50px;
}




#outerbox
{
	width: 1280px;
	overflow: hidden;
}
#sliderbox
{
	position: relative;
	width: 5120px;
	height: 300px;
	animation-name: Jamal;
	animation-duration: 15s;
	animation-iteration-count: infinite;
}

#sliderbox img{

	float:left;

}

@keyframes Jamal{
	0%
	{
		left: 0px;
	}
	20%
	{
		left: 0px;

	}
	25%
	{
		left: -1280px;
	}
	45%
	{
		left: -1280px;
	}
	50%
	{
		left: -2560px;
	}
	70%
	{
		left: -2560px;
	}
	75%
	{
		left: -3840px;
	}
	95%
	{
		left: -3840px;
	}
	
}







/* contect us bala page ka css yha se start h */


.contect{
	background-color: grey;
	padding: 1px 0px 0px 0px;
	margin-top: -15px;
	color: white;
	width: 100%;
	height: 80px;
	
}
.contect h1{

	margin-left: 30px;
}
.mm{
	font-family:Arial;
	margin-left: 30px;
}

.pp{
	font-family:Arial;
	margin-left: 30px;

}
.form{
	margin-left: 30px;

}
.i{
	width: 200px;
	height: 40px;

}
.btn{
	width: 100px;
	height: 40px;
	background-color: red;
	color: white;
}
.coninfo{
	font-family:Arial;
	margin-left: 900px;
	margin-top: -590px;

}

/*  POP UP KE CSS KA SECTION YHA SE START H*/

		#popupmain{
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.6);
			z-index: 1001;
		}
		#popup{
			width: 500px;
			height: 300px;
			background-size: cover;
			background-color:white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			box-shadow: 2px 2px 5px 3px red;
		}
		#ask{
			margin-top: -270px;
			margin-left: 185px;
			color: red;
		}
		#finder
		{
			width: 300px;
			height: 50px;
			font-size: 25px;
			border-color: red;
			border-radius: 20px;
			margin-top: 15px;
			margin-left: 170px;

		}
		.btns{
			background-color: red;
			border: none;
			font-size: 20px;
			padding: 10px;
			margin-top: 35px;
			color: white;
		}



